ul{
    padding-left: 0;
}

.loc{
    background: url(./images/map.webp);
    min-height: 10rem;
    min-width: 100%;
    background-size: contain;
    display: grid;
    place-items: center;
}

.loc i{
    color: #000;
    font-weight: bold;
    font-size: 2rem;
}